.notification
  チャットグループが作成されました。
.chatContents
  .chatSide
    .chatSide__top
      = render "chatSide__top"
    .chatSide__bottom
      = render "chatSide__bottom"
  .chatMain
    .chatMain__top
      = render "chatMain__top"
    .chatMain__middle
      = render "chatMain__middle"
    .chatMain__bottom
      = render "chatMain__bottom"
