.chatMain__bottom
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'messageArea', placeholder: 'type a message'
    .selectImage
      = f.label :image, class: 'selectImage__btn' do
        = fa_icon 'picture-o', class: 'fa.fa-picture-o'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'submit__btn'
